<?xml version="1.0"?>
<model>
  <name>Human Marker O</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>team2</name>
  </author>
  <description>
    Static-look red "O" ring used to mark a human move on the tic-tac-toe
    board in Gazebo. Not grasped by the manipulator: game code moves it
    directly onto the played cell via the SetEntityPose service.
  </description>
</model>
